.sidenav{
    background-color: #ff0000;
    width: 200px;
}
.sidenav a{
    color: rgb(255, 5, 5);
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: rgb(255, 0, 0);
}

