.sidenav{
    background-color: #8c419e;
    width: 200px;
}
.sidenav a{
    color: #8c419e;
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #8c419e;
}

span{

color: white;
font-weight: bold;

}

