.sidenav{
    background-color: #8c419e;
    width: 220px;
}
.sidenav a{
    color: #000000;
}
.sidenav i{
    padding-right: 10px;
    color: white;
}

.content{
    
    padding: 16px;
    background-color: #8c419e;
}

span{

color: white;
font-weight: bold;

}

